@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import "tailwindcss";

@theme {
  --font-jua: "Jua", sans-serif;
}

body {
  font-family: "Jua", sans-serif;
  background-color: #fcfaf5;
  background-image: radial-gradient(#e8e3d9 2px, transparent 2px);
  background-size: 30px 30px;
  color: #2c1e16;
  overflow: hidden;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bounce-in {
  animation: bounce-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
